<div class="content" role="main">
  <div class="p-grid p-justify-center">
    <div class="p-col-8 p-md-10 p-lg-10">
      <p-card>
        <p-header>
          Escolha uma opção
        </p-header>
        <div class="p-col-12 p-md-12 p-lg-12">
          <button pButton type="submit" label="adastrar" (click)="abrirCadastrar()">
            <h3>C</h3>
          </button>
          <button pButton type="submit" label="onsultar" (click)="abrirEditar()" [style]="{'margin-left' : '50%'}">
            <h3>C</h3>
          </button>
        </div>
        <p-footer>
        </p-footer>
      </p-card>
    </div>

    <p-panel header="Cadastrar Nova Farmacia" *ngIf="componentView == true">
      <div class="p-grid">
        <div class="p-col-2">
          <h3>Nome*</h3>
        </div>
        <div class="p-col-10">
          <input pInputText type="text" [(ngModel)]="farmacia.name">
        </div>

        <div class="p-col-4 p-md-2 p-lg-2">
          <h3>Farmacia 24 Horas*</h3>
        </div>
        <div class="p-col-8 p-md-10 p-lg-10">
          <p-checkbox [(ngModel)]="farmacia.farmacia24Horas" binary="true" inputId="binary"></p-checkbox>
        </div>

        <div class="p-col-2">
          <h3>Data Fundação* </h3>
        </div>
        <div class="p-col-10">
          <p-inputMask mask="99/99/9999" [(ngModel)]="farmacia.dataFundacao" placeholder="99/99/9999"
            slotChar="mm/dd/yyyy"></p-inputMask>
        </div>

        <div class="p-col-2">
          <h3>Localidae*</h3>
        </div>
        <div class="p-col-10">
          <p-dropdown [options]="bairros" [(ngModel)]="selectedBairro" optionLabel="name" [filter]="true"
            [showClear]="true" placeholder="Selecione bairro" (ngModelChange)="bairroSelecionado($event)">
            <ng-template pTemplate="selectedItem">
              <div class="bairro-item bairro-item-value" *ngIf="selectedBairro">
                <div>{{selectedBairro.name}}</div>
              </div>
            </ng-template>
            <ng-template let-bairro pTemplate="item">
              <div class="bairro-item">
                <div>{{bairro.value.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="p-col-8 p-md-10 p-lg-10">
          <button pButton type="submit" label="{{textButton}}" (click)="createFarmacia()"
            [style]="alterarCorDoButton"></button>
        </div>

        <div class="p-col-8 p-md-10 p-lg-10" *ngIf="textButton == 'Atualizar'">
          <button pButton type="submit" label="Cancelar" (click)="cancelarEdicao()"></button>
        </div>
      </div>
      <br>

    </p-panel>
    <p-toast></p-toast>

    <div class="container" *ngIf="componentView == false">
      <span class="p-grid   ">
        <div class="p-col-12 p-md-12 p-lg-10">
          <p-card [style]="{'margin-top': '40px'}">
            <div class="p-field">
              <div>
                <h1>Consulta 1</h1>
                <label for="username1">
                  <h2>Nome</h2>
                </label><br>
                <input id="username1" type="username" aria-describedby="username1-help" pInputText
                  [(ngModel)]="farmaciaNomeConsulta" name="nome" class="campoInput">
              </div>

              <div class="p-col-12 p-md-12 p-lg-12">
                <button button pButton type="button" class="p-button-raised p-button-rounded" label="Buscar por nome"
                  class="botaoSalvar" (click)="buscarFarmaciaPorNome()"
                  [style]="{ 'background': '#689f38', 'margin-left': '50px'}"> </button>
              </div>
            </div>
            <hr>
            <div [style]="{'padding' : '10px'}">

              <h1>Consulta 2</h1>
              <div class="p-col-8 p-md-10 p-lg-10">Farmacia 24
                <p-checkbox [(ngModel)]="farmacia24Horas" binary="true" inputId="binary"></p-checkbox>
              </div>
              <h5>Buscar Farmacia por Localidade</h5>
              <p-dropdown [options]="bairros" [(ngModel)]="selectedBairroBuscar" optionLabel="name" [filter]="true"
                [showClear]="true" placeholder="Selecione bairro">
                <ng-template pTemplate="selectedItem">
                  <div class="bairro-item bairro-item-value" *ngIf="selectedBairroBuscar">
                    <div>{{selectedBairroBuscar.name}}</div>
                  </div>
                </ng-template>
                <ng-template let-bairro pTemplate="item">
                  <div class="bairro-item">
                    <div>{{bairro.value.name}}</div>
                  </div>
                </ng-template>
              </p-dropdown>

              <div class="p-col-12 p-md-12 p-lg-12">
                <button button pButton type="button" class="p-button-raised p-button-rounded"
                  label="Buscar por Farmacia 24 horas e localidade" class="botaoSalvar"
                  (click)="buscarFarmaciaPorLocalidade()" [style]="{ 'background': '#689f38', 'margin-left': '50px'}">
                </button>
              </div>
            </div>
            <hr>
            <div [style]="{'padding' : '10px'}">
              <h1>Consulta 3</h1>
              <div class="p-col-12 p-md-12 p-lg-12">
                <button button pButton type="button" class="p-button-raised p-button-rounded" label="Buscar todos"
                  class="botaoSalvar" (click)="buscarFarmarcias()"
                  [style]="{ 'background': '#689f38', 'margin-left': '50px'}"> </button>
              </div>
            </div>
          </p-card>
        </div>
      </span>
    </div>
    <div>
      <h3>Resultado consulta</h3>
      <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
          styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
          styleClass="p-button-text"></p-button>
      </div>
      <p-table [value]="customers" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>farmacia 24 Horas</th>
            <th>Bairro</th>
            <th>Data Função</th>
            <th>Função</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.farmacia24Horas}}</td>
            <td>{{customer.bairroLocalizado.name}}</td>
            <td>{{customer.dataFundacao}}</td>
            <td> <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 "
                (click)="editarFarmacia(customer)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteConfirm(customer.id)"></button></td>
          </tr>
        </ng-template>
      </p-table>
      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
  </div>
</div>
